* {
    margin: 0;
}
body{
    font-family: 'Manrope', sans-serif;
    font-size:1em;
    color:#0b1925;
    background-color: #EEEEEE;
}
a{
    color: #242424;
    text-decoration: none;
}
em {
    color: #7c97af;
    font-style: normal;
}
h1{
    font-size: 2.5em;
    text-align: center;
    color:#ffffff ;
    background: linear-gradient(90deg,#24527a,#7c97af);
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-size: 1.5em;
    font-family: Montserrat;
    color: #24497a;
}
p,
li{
    font-size: 1.1em;
}
header, 
footer{
    background-color:#d3dce4 ;
    padding: 20px,50px;
}
section{
    padding:50px;
}
aside{
    padding: 30px;
    text-align: center;
    margin: auto;
}
.cta {
    background: linear-gradient(#2980b9, #2c3e50);
    color: white;
    border-radius: 50px;
    padding: 20px, 50px;
}
a:hover{
    text-decoration: underline;
}
.cta:hover {
    background:linear-gradient(#696484,#8788BA) ; 
    text-decoration: none;
}

.lien-icone:hover{
    opacity: 0.5;
}

#Logo_Twitter{
   width: 1.9em ;
}
#Home {
    width: 10em;
    
}
.description{
    border-right: 1px #24497a solid;
    border-bottom: 1px #24497a solid;
    Padding: 50px;
}
.a-propos-main{
    width: 50%;
    margin: auto;
}